@using karaoke.Models
@model List<Menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<head>
    <title>Karaoke Night | Menu</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css">
</head>
<body>
    <div id="header">
        <a href="/Default/Index/" id="logo"><img src="~/web/images/logo.png" alt=""></a>
    </div>
    <div class="body">
        <ul class="navigation">
            <li> <a href="/Menu/Index/" id="link1">Menu</a> <a href="/Menu/Index/"><img src="~/web/images/button-menu.jpg" alt=""></a> </li>
            <li> <a href="/Room/Index/" id="link2">Rooms</a> <a href="/Room/Index/"><img src="~/web/images/button-rooms.jpg" alt=""></a> </li>
            <li> <a href="/Event/Index/"><img src="~/web/images/button-events.jpg" alt=""></a> <a href="/Event/Index/" id="link3">Events</a> </li>
            <li> <a href="/Drink/Index/"><img src="~/web/images/button-drinks.jpg" alt=""></a> <a href="/Drink/Index/" id="link4">Drinks</a> </li>
        </ul>
        <div>
            <h2>Menu</h2>
            <table>
                @foreach (var x in Model)
                {
                    <tr>
                        <td class="product">@x.Baslik</td>
                        <td class="price">@x.Aciklama</td>
                    </tr>
                }

            </table>
        </div>
    </div>
</body>

