@model karaoke.Models.Menu
@{
    ViewBag.Title = "NewMenu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Menu</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Add</button>
</form>

