@model karaoke.Models.Room
@{
    ViewBag.Title = "NewRoom";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Room</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.FotoUrl)
    @Html.TextBoxFor(x => x.FotoUrl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Add</button>
</form>
