@using karaoke.Models
@model List<Room>
@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Room</h2>
<br />
<table class="table table-bordered ">
    <tr>
        <th>Photo</th>
        <th>Explanation</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.FotoUrl</td>
            <td>@x.Aciklama</td>
            <td><a href="/Admin/RoomSil/@x.ID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Admin/RoomGetir/@x.ID" class="btn btn-warning">Update</a></td>
           
        </tr>

    }

</table>
<a href="/Admin/NewRoom/" class="btn btn-primary">New Post</a>


