
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<div id="header">
    <div>
        <a href="/Default/Index/" id="logo"><img src="~/web/images/logo.png" alt=""></a>
        <ul class="navigation">
            <li> <a href="/Menu/Index/" id="link1">Menu</a> <a href="/Menu/Index/"><img src="~/web/images/button-menu.jpg" alt=""></a> </li>
            <li> <a href="/Room/Index/" id="link2">Rooms</a> <a href="/Room/Index/"><img src="~/web/images/button-rooms.jpg" alt=""></a> </li>
            <li> <a href="/Event/Index/"><img src="~/web/images/button-events.jpg" alt=""></a> <a href="/Event/Index/" id="link3">Events</a> </li>
            <li> <a href="/Drink/Index/"><img src="~/web/images/button-drinks.jpg" alt=""></a> <a href="/Drink/Index/" id="link4">Drinks</a> </li>
        </ul>
    </div>
</div>
<div id="body">
    <div>
        <h2>About</h2>
        <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forum.</p>
        <p>Looking for more templates? Just browse through all our Free Website Templates and find what you’re looking for. But if you don’t find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you’re looking for something different, something special. And we love the challenge of doing something different and something special.</p>
    </div>
    <div id="gallery">
        <h2><a href="/Photo/Index/">Photo Gallery</a></h2>
        <ul>
            <li><a href="/Photo/Index/"><img src="~/web/images/girl-smiling.jpg" alt=""></a></li>
            <li><a href="/Photo/Index/"><img src="~/web/images/boys-drinking.jpg" alt=""></a></li>
            <li><a href="/Photo/Index/"><img src="~/web/images/group-singing.jpg" alt=""></a></li>
            <li><a href="/Photo/Index/"><img src="~/web/images/girl-sing.jpg" alt=""></a></li>
        </ul>
    </div>
</div>
